#header {
  text-align: right;
  padding-right: 30px;
  word-spacing: 3pt;
}

a {
  text-decoration: none;
  color: #404040;

}

a:hover {
  text-decoration: underline;
}

address {
font-size : 16px; 
text-align : center; 
color: #efefef;
padding: 1% 0;
text-shadow: 1px 1px 0px #202020;
position: absolute; bottom:0;

}
#img {
    position: center;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}

.form {
      width:495px;
      margin:90px auto;
}


#center {
  text-align: center;
}

.buttons {
  margin: 15px;
  height: 5px;
  text-align: center;
}

#footer {
  position: absolute;
  width: 100%;
  overflow: hidden;
  text-align: center;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f2f2f2;
  line-height: 40px;
  padding: 1px;
  word-spacing: 3pt;
}
#footer-left {
  float: left;
  margin-left: 30px;
  display: inline;
  padding-right: 30px;


}
#footer-right {

  margin-right: 30px;
  float: right;

}
