#header {
  text-align: right;
  padding-right: 30px;
}

a {
  text-decoration: none;
  color: #404040;

}

a:hover {
  text-decoration: underline;
}

address {
font-size : 16px; 
text-align : center; 
color: #efefef;
padding: 1% 0;
text-shadow: 1px 1px 0px #202020;
position: absolute; bottom:0;

}
#img.logo {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}

.form {
      width:495px;
      margin:90px auto;
}

#searching {
  position:center;
  display: inline;
}
#search {
      padding:80px 15px;
      background:rgba(50, 50, 50, 0.2);
      border:0px solid #dbdbdb;
      position: center;
      width: 700px;
}

#searchy {
  width: 500px;
  position: center;
  height: 20px;
  margin:20px;
}
.buttons {
  margin: 15px;
  height: 5px;
  text-align: center;
}

/*.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;*/

#bottom-nav{
  width:100%;
  position: absolute;
  bottom: 0;
  background-color: #f1f1f1;
  height: 40px;

}

.footer_left{
  float:left;
  margin: 11px;
  position:relative;
}

.footer_right li{
  margin-left: 10px;
  position:relative;
  padding-left:15px;
}

.footer_left a{
  color: #666
}

.footer_right{
  float:right;
  margin: 11px;
}

.footer_left li{
  margin-left: 10px;
  position:relative;
  padding-right:35px;
  color: #666
}

.footer_right a{
  color: #666
}

