.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}



address {
font-size : 16px; 
text-align : center; 
color: #efefef;
padding: 1% 0;
text-shadow: 1px 1px 0px #202020;
position: absolute; bottom:0;

}
img {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}


